<div id="team" class="page">
  <div class="divided title">
    Tracks
  </div>
  <div class="ui stackable centered page grid">
    <div class="column">
      <div
        class="ui error message"
        ng-show="error">
        {{error}}
      </div>

      <div class="ui segment">
        <div
          class="ui form">

          <div class="title">
            Check out our tracks
          </div>

          <p><strong>Tracks are areas we encourage you to create entrepreneurial and technological solutions for. Several of our sponsors offer prizes for projects in each track. Express your interest in some tracks to help us make MAHacks's brainstorming session better suited for you.</strong></p>

        </div>

      </div>
    </div>
  </div>

</div>
